---
title: LaTemp.github.io
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href="/css/normalize.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/pico.min.css" />
  </head>

  <body>
    <nav class="container-fluid">
      <ul>
        <li><strong>Brightcon 2021</strong></li>
        <li>Open Sustainability Conference</li>
      </ul>

      {{ content | toc | safe  }}

    </nav>

    <main class="container">
    <article>
        {{ content | safe }}
    </article>
    </main>

  </body>

</html>